<a href="https://colab.research.google.com/github/sturookie/Introduction_to_Machine_Learning_Applications-/blob/master/%E2%80%9Cmidterm_student_ipynb%E2%80%9D%E7%9A%84%E5%89%AF%E6%9C%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Midterm

**Save your working file in Google drive immediately upon starting this assignment.** 

Before you turn this in, make sure everything runs as expected. First, restart the kernel (in the menu, select Kernel → Restart) and then run all cells (in the menubar, select Cell → Run All). They should run completely without intervention.

**You may find it useful to go through the notebooks from the course materials when doing these exercises.**

**If you receive assistance from anyone it will be considered an ethical violation and referred to associate dean.**

In [1]:
files = "https://www.dropbox.com/s/ouavrnjy5sa2ele/data.zip" 
!wget $files && unzip -o data.zip

--2020-10-19 12:43:12--  https://www.dropbox.com/s/ouavrnjy5sa2ele/data.zip
Resolving www.dropbox.com (www.dropbox.com)... 162.125.1.1, 2620:100:6016:1::a27d:101
Connecting to www.dropbox.com (www.dropbox.com)|162.125.1.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/ouavrnjy5sa2ele/data.zip [following]
--2020-10-19 12:43:12--  https://www.dropbox.com/s/raw/ouavrnjy5sa2ele/data.zip
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc61f585b4adc24e6f86ddc68fb4.dl.dropboxusercontent.com/cd/0/inline/BBh-nGSEsBj6QJUHUg_-y6jY9G9PfuLTdKIpYsROt0p9zvaz5VsQkkUFRv2Tc_-bQz-sp09WypOo1Ga-8LTd6QfCNoF2dq-q3VRVkTZZrnzlyw/file# [following]
--2020-10-19 12:43:12--  https://uc61f585b4adc24e6f86ddc68fb4.dl.dropboxusercontent.com/cd/0/inline/BBh-nGSEsBj6QJUHUg_-y6jY9G9PfuLTdKIpYsROt0p9zvaz5VsQkkUFRv2Tc_-bQz-sp09WypOo1Ga-8LTd6QfCNoF2dq-q3VRVkTZZrnzlyw/file
Resolving uc61f585b4adc24e6f86ddc68fb4.dl.dropboxusercontent.com (uc61f585b4adc24e6f86ddc68fb4.dl.dropboxusercontent.com)... 162.125.1.15, 2620:100:6016:15::a27d:10f
Connecting to uc61f585b4adc24e6f86ddc68fb4.dl.dropboxusercontent.com (uc61f585b4adc24e6f86ddc68fb4.dl.dropboxusercontent.com)|162.125.1.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/BBi4J7x3nCkelIfKjP0OHPtkOT4r0PHyrCCwzgQq7NnFYy8Mo5FCQywfgGZYbd2NB3wRXXSor1-jHbnWZ3uZXdY_mDzERNdTfqm7hXbu2z45pLW-NaST02qtwHy-ktaUyaHgvFcigLMzhs3KpM05C3PNVEFxdD-wWb3T5CICpzx4WPb7VlrR5jLMUBZR9cfvUFjwWIXxvwNW2ZAMBwww7nrnEjJQ3RDtgR_nikGqfR7L_QHfnbQSNrHolrPhkdJSGmlcb7IMU6cdQz7uHBM2d8zy_oQ3bvjD-2V5on3B9anAcrBfUCcPNuKT48PFSqsH7FreaPez-GwJStCAFl272CpG/file [following]
--2020-10-19 12:43:13--  https://uc61f585b4adc24e6f86ddc68fb4.dl.dropboxusercontent.com/cd/0/inline2/BBi4J7x3nCkelIfKjP0OHPtkOT4r0PHyrCCwzgQq7NnFYy8Mo5FCQywfgGZYbd2NB3wRXXSor1-jHbnWZ3uZXdY_mDzERNdTfqm7hXbu2z45pLW-NaST02qtwHy-ktaUyaHgvFcigLMzhs3KpM05C3PNVEFxdD-wWb3T5CICpzx4WPb7VlrR5jLMUBZR9cfvUFjwWIXxvwNW2ZAMBwww7nrnEjJQ3RDtgR_nikGqfR7L_QHfnbQSNrHolrPhkdJSGmlcb7IMU6cdQz7uHBM2d8zy_oQ3bvjD-2V5on3B9anAcrBfUCcPNuKT48PFSqsH7FreaPez-GwJStCAFl272CpG/file
Reusing existing connection to uc61f585b4adc24e6f86ddc68fb4.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 427096 (417K) [application/zip]
Saving to: ‘data.zip’

data.zip            100%[===================>] 417.09K  1.91MB/s    in 0.2s

2020-10-19 12:43:14 (1.91 MB/s) - ‘data.zip’ saved [427096/427096]

Archive:  data.zip
  inflating: midterm_train_part4.csv
  inflating: midterm_test_part3.csv
  inflating: midterm_test_part4.csv
  inflating: midterm_train_part3.csv
  inflating: midterm_part2.csv
  inflating: midterm_part1.csv

In [2]:
!ls

data.zip	   midterm_test_part3.csv   midterm_train_part4.csv
midterm_part1.csv  midterm_test_part4.csv   sample_data
midterm_part2.csv  midterm_train_part3.csv

In [3]:
import pandas as pd
df  = pd.read_csv("midterm_part1.csv")
df

      demo  demo1  demo2  demo3  demo4  ...  dv7  dv8  dv9  class  reg_target
0        0      1      1      1      1  ...    0    0    1    0.0  453.521369
1        0      1      1      0      1  ...    0    1    0    0.0  151.919191
2        0      0      1      0      1  ...    0    1    1    0.0 -141.666991
3        0      1      1      0      1  ...    1    0    0    0.0 -227.245474
4        1      0      1      1      0  ...    1    0    0    0.0 -130.752790
...    ...    ...    ...    ...    ...  ...  ...  ...  ...    ...         ...
9995     0      0      0      0      0  ...    0    1    1    9.0   57.045191
9996     1      0      0      1      0  ...    0    1    0    9.0   20.359107
9997     1      1      0      1      0  ...    0    1    1    9.0 -171.269242
9998     0      0      0      1      0  ...    0    0    1    9.0  125.539606
9999     1      0      0      1      0  ...    1    1    0    9.0 -206.742398

[10000 rows x 22 columns]

## Statistical Functions and Calculations - Part 1

1a. (3pts) Set the `reg_target_mean` variable value equal to the mean `reg_target` column of the df dataframe. 

1b. (3pts) Set the `class_num` variable value equal to the number of different values in the `class` column of the df dataframe. (Nan should count as a different value.)

1c. (3pts) Set the `class_most_freq` variable value equal to the most frequent class in the `class` column of the df dataframe. Make it an integer.

1d. (3pts) Set the `class_na` variable value equal to the number of missing values in the `class` column of the df dataframe.

In [7]:
#Answer (add additional cells as necessary)
reg_target = df['reg_target']
reg_target_mean = reg_target.mean()

In [22]:
df.value_counts(['class'])
#As can be seen from the statistical results, the data in the class column is 0-9, and there are altogether 10 different data, so plus NA is 11
class_num = 11

In [23]:
df.value_counts(['class'])
#As can be seen from the statistical results, the most frequent value is 1, which occurs 1012 times
class_most_freq = 1

In [24]:
class_na = df['class'].isnull().sum()

## Fill NA Strategies - Part 1 Continued 

1e-f. (6pts) Create a dataframe `df2` from a copy of `df` which includes only those rows in which the `class` variable is not null.


1f-g. (6pts) Create a dataframe `df3` from a copy of `df` which sets all missing values of `class` to `-1` (integer).  

After filling the NA values, convert the `class` column to an integer type.

In [47]:
#Answer (add additional cells as necessary)
df2 = df
df2 = df2.dropna(subset = ['class'])

In [29]:
df3 = df
df3.loc[df3['class'].isnull(),"class"] = -1

In [34]:
df['class'] = df['class'].astype("int")

## Train Test Split - Part 2 

2a. (3pts) Create a Pandas Series `y_class` equal to an `int` of the `class` variable from the `dfp2` dataframe.

2b. (3pts) Create a Pandas Dataframe `X` equal to all other variables (i.e., all variables other than `reg_target` and `class` from the `dfp2` dataframe.  

2c-e. (9pts) Use `X` and `y_class` to perform a train test split creating `train_X`,  `test_X`, `train_y`, `test_y` using the following specifications:

- Use 75% for the train set, 25% for the test set. 
- Use the value `99` for the Random State.
- Use stratified sampling.

2f. Recode `train_y` from a multiclass classification problem to a binary classification problem, such that `train_y_new` = 0 if the value of train_y is 0-4 and `train_y_new` =1 if train_y = 5-9.

2f. Recode `test_y` from a multiclass classification problem to a binary classification problem, such that `test_y_new` = 0 if the value of test_y is 0-4 and `test_y_new` =1 if test_y = 5-9.

In [48]:
#Load Part 2 Data
dfp2  = pd.read_csv("midterm_part2.csv")
dfp2

      demo  demo1  demo2  demo3  demo4  ...  dv7  dv8  dv9  class  reg_target
0        0      1      1      1      1  ...    0    0    1    0.0  453.521369
1        0      1      1      0      1  ...    0    1    0    0.0  151.919191
2        0      0      1      0      1  ...    0    1    1    0.0 -141.666991
3        0      1      1      0      1  ...    1    0    0    0.0 -227.245474
4        1      0      1      1      0  ...    1    0    0    0.0 -130.752790
...    ...    ...    ...    ...    ...  ...  ...  ...  ...    ...         ...
9961     0      0      0      0      0  ...    0    1    1    9.0   57.045191
9962     1      0      0      1      0  ...    0    1    0    9.0   20.359107
9963     1      1      0      1      0  ...    0    1    1    9.0 -171.269242
9964     0      0      0      1      0  ...    0    0    1    9.0  125.539606
9965     1      0      0      1      0  ...    1    1    0    9.0 -206.742398

[9966 rows x 22 columns]

In [52]:
#Answer (add additional cells as necessary)
y_class = dfp2['class'].astype('int')

In [56]:
X = dfp2[['demo', 'demo1', 'demo2',	'demo3', 'demo4', 'demo5', 'demo6', 'demo7', 'demo8', 'demo9', 'dv0', 'dv1', 'dv2', 'dv3', 'dv4', 'dv5', 'dv6', 'dv7', 'dv8', 'dv9']]

In [123]:
from sklearn.model_selection import train_test_split

train_X, test_X, train_y, test_y = train_test_split(X, y_class, test_size=0.25, random_state=99, stratify=y_class)

In [129]:
test_y_new = test_y.copy()
train_y_new = train_y.copy()
train_y_new[train_y <=4] = 0
train_y_new[train_y >=5] = 1
test_y_new[test_y <=4] = 0
test_y_new[test_y >=5] = 1

## Classification Models - Part 3

Start with the `dfp3_train` and `df_class_test` dataframes.  Don't use the output of the train test split from part2. 

Create the values for `dfp3_X_train`, `dfp3_y_train`, `dfp3_X_test`, `dfp3_y_test` from the given training and test set `dfp3_train` and `dfp3_test`. 

Use a [naive bayes](https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.GaussianNB.html#sklearn.naive_bayes.GaussianNB) classifier for both models below. 

In the first model (model1), use all of the variables that start with `demo` or `dv` predict the class variable. Create the following variables:

3a. (6pts) `model1_train_accuracy`  Accuracy for model 1 in the train set.

3b. (6pts) `model1_test_accuracy`   Accuracy for model 1 in the test set.

3c. (6pts) `model1_test_ROC`        Area Under the Receiver Operating Characteristic Curve (ROC AUC) for model 1

In [88]:
#Load Part 3 Data
dfp3_train  = pd.read_csv('midterm_train_part3.csv')
dfp3_test   = pd.read_csv('midterm_test_part3.csv')

In [ ]:
dfp3_train

In [89]:
dfp3_test
df_class_test = dfp3_train['class'].astype('int')

In [90]:
#uncomment andUselect out the X and Y variables as approprate.
from sklearn.model_selection import train_test_split

dfp3_X_train, dfp3_X_test, dfp3_y_train, dfp3_y_test = train_test_split(dfp3_train, df_class_test, test_size=0.25, random_state=99)

In [91]:
#Answer (add additional cells as necessary)
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics

bayes_model = GaussianNB()
bayes_model.fit(dfp3_X_train,dfp3_y_train)
bayes_train = bayes_model.predict(dfp3_X_train)
bayes_test = bayes_model.predict(dfp3_X_test)
model1_train_accuracy = metrics.accuracy_score(dfp3_y_train,bayes_train)
model1_test_accuracy = metrics.accuracy_score(dfp3_y_test,bayes_test)

## Regression Models -  Models - Part 4

For part 4 use `dfp4_train` and `dfp4_test` with `reg_target` as the dependent variable and all other variables as the independent variables. 

Create the values for `dfp4_X_train`, `dfp4_y_train`, `dfp4_X_test`, `dfp4_y_test` from the given training and test set `dfp4_train` and `dfp4_test`.  

For the regression model we want to compare the performance of a linear regression (model1) with a RandomForest Regression (model2).

In the first model (model1), use all of the variables except the `reg_target` and use linear regression. Create the following variables:

4a. (3pts) `model1_train_r2`  R-squared for model 1 in the train set.

4b. (3pts) `model1_test_r2`   R-squared for model 1 in the test set.

4c. (3pts) `model1_test_msele`  Mean squared logarithmic error for model 1 in the test set. 



In the second model (model2), use all of the variables except the `reg_target` and use RandomForest regression. Create the following variables:

4d. (3pts) `model2_train_r2`  R-squared for model 2 in the train set.

4e. (3pts) `model2_test_r2`   R-squared for model 2 in the test set.

4f. (3pts) `model2_test_msele`  Mean squared logarithmic error for model 2 in the test set.

In [ ]:
#Load Part 3 Data
dfp4_train  = pd.read_csv('midterm_train_part4.csv')
dfp4_test   = pd.read_csv('midterm_test_part4.csv')
dfp4_train

In [ ]:
dfp4_test

In [ ]:
#Uncomment and Select out the X and Y variables as approprate. Don't reuse train_X, test_X, train_y, test_y.
#dfp4_X_train=  
#dfp4_y_train= 
#dfp4_X_test= 
#dfp4_y_test=

In [ ]:
#Answer (add additional cells as necessary)

## Validate Variables
There aren't tests, but this last check wil help you find if you have defined all expected variables (and don't have any accidental misspellings).

In [ ]:
expected_answers=['class_most_freq','reg_target_mean','class_num','class_na', 'df2','df3', \
                 'y_class', 'train_X', 'test_X', 'train_y', 'test_y', \
                'dfp3_X_train', 'dfp3_y_train', 'dfp3_X_test', 'dfp3_y_test', \
                  'dfp4_X_train', 'dfp4_y_train', 'dfp4_X_test', 'dfp4_y_test', \
                 'model1_train_accuracy','model1_test_accuracy','model1_test_ROC',  \
                 'model1_train_r2','model1_test_r2','model1_test_msele',\
                 'model2_train_r2','model2_test_r2','model2_test_msele']

for x in expected_answers:
        if x in globals():
            print('The value for', x, 'is defined. ' )
        else:
            print('WARNING: The value for', x, 'is not defined. Check it out.')